

.header {
    background-color: #21212133;
    color: #ffffff;
    backdrop-filter: blur(10px);
    padding: 10px;
    margin: 12px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    top: 0;
    position: fixed;
    height: 80px;
    width: calc(100% - 24px);
    z-index: 1;
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header nav ul {
    display: flex;
    gap: 12px;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}