@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(components/basic/navbar.module.css);

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 245, 245, 245;
    --header-height: 80px;
    --header-padding: 10px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 33, 33, 33;
        --background-start-rgb: 245, 245, 245;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    /* background: linear-gradient(
        180deg,
        rgba(var(--background-start-rgb), 1) 0%,
        rgba(var(--background-end-rgb), 1) 100%
    ); */
    position: relative;
    top: calc(var(--header-height) + var(--header-padding));
}