@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
/* @import url(components/basic/navbar.module.css); */

body {
    position: relative;
    top: calc(var(--header-height) + var(--header-padding));

    font-family: "Pretendard", sans-serif;
}